{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1 class="text-5xl text-center mt-24 mb-8">Blog</h1>
    <div class="flex flex-row flex-wrap justify-evenly mt-8">
        {% for post in posts %}
            {% include 'components/_card.html.twig' with {
                post:post
            } only %}
        {% endfor %}
    </div>      
</div>
    
{% endblock %}