{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1 class="text-5xl text-center mt-24 mb-8">{{ title }}</h1>

    {% include 'components/_search_data.html.twig' with {
        form: form ?? null
    } only %}

        {% include 'components/_dropdown.html.twig' with {
            options: allCategories ?? null
        } only %}

    <div class="flex flex-row flex-wrap justify-evenly mt-8">
        {% for post in posts %}
            {% include 'components/_card.html.twig' with 
            { post: post } only %}
        {% endfor %}
    </div> 
    <div class="navigation flex justify-center mb-8">
        {{ knp_pagination_render(posts) }}
    </div>     
</div>
{% endblock %}