{% extends 'base.html.twig' %}

{% block title %}{{ category.name|capitalize }}{% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1 class="text-5xl text-center mt-24 mb-8">Catégorie: 
    {{ category.name|capitalize }}</h1>
    <div class="flex flex-row flex-wrap justify-evenly mt-8">
        {% for post in posts %}
            {% include 'components/_card.html.twig' with 
            { post: post } only %}
        {% endfor %}
    </div> 
    <div class="navigation flex justify-center mb-8">
        {{ knp_pagination_render(posts) }}
    </div>     
</div>
{% endblock %}