<div class="alert alert-{{ color|default('success') }} bg-{{ color|default('green') }}-100 rounded-lg py-5 px-6 mb-4
 text-base text-{{ color|default('green') }}-700 mb-3" role="alert">
    {{ message|raw }}
</div>